body
{
    margin:0px;
    padding:0px;
}

.container
{
    display: flex;
}

.bg-black
{
    background-color: black;
}

.font-white
{
    color: white;
}

li
{
    list-style-type: none;
}

ul
{
    padding:0px;
    margin:0px;
}

a
{
   text-decoration: none;
}

.elem
{
    padding: 5px;
    font-size: 22px;
    border-right: 2px solid white;
}

.elem:hover
{
    background-color: rgba(255, 0, 0, 0.336);
}

.elem-drop:hover
{
    background-color: rgba(255, 0, 0, 0.336);
    cursor: pointer;
}

.drop_down_menu
{
    display:none;
    position:absolute;
    z-index: 1;
    left: 0px;
}

.drop_down
{
    position: relative;
    display:inline-block;
}

.drop_down2
{
    position: relative;
    display:inline-block;
}

.elem:hover .drop_down_menu
{
    display:block;
    background-color:black;
}

.drop_down_menu2
{
    display:none;
    position: absolute;
    z-index: 1;
    left: 64px;
    top: 0px;
    background-color: black;
}

.elem-drop2:hover
{
    background-color: rgba(255, 0, 0, 0.336);
    cursor: pointer;
}

.elem-drop:hover .drop_down_menu2
{
    display:block;
    background-color: black;
}